@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";
@import "layouts";
@import "captions";
@import "override";

:root {
  --bg: #13151a;
  --color-text: #fff;

  --danger: #df3e5a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #13151a;
  }
}

body {
  font-size: 14px;
  color: var(--color-text);
  background-color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rubik {
  font-family: var(--font-rubik);
}

.page {
  height: 100svh;
}
